/* styles.css */

/* Changer la police de caractères */
body {
    font-family: 'Roboto', sans-serif;
}

/* Rendre la barre de navigation inline */
nav {
    display: flex;
    justify-content: space-around; /* Pour espacer les éléments */
}

nav ul {
    list-style-type: none; /* Supprimer les puces */
    padding: 0; /* Supprimer le padding par défaut */
    margin: 0; /* Supprimer la marge par défaut */
}

nav ul li {
    display: inline; /* Afficher les éléments de la liste en ligne */
    margin-right: 20px; /* Espacement entre les éléments */
}